<!DOCTYPE html>
<html>
<head>

</head>
<body>

<h1>ShareUrDay</h1>


<h3>What is ShareUrDay?</h3>

<p> ShareUrDay is an Android application which allows a user to create their own diary and sharing it with users of multi-nationals anonymously. One click of a button the user can create a diary message and share it on-line with other user’s across the world whom can reply, rate and report the diary message while not knowing this person's identity. The app would allow users to socialise while learning about new cultures (reading their diary messages), learning the different aspects of their lifestyle and would enhancely create relations for the public from adjacent races. ShareUrDay is simple, easy to use and effective.</p>





</body>
</html>