<!DOCTYPE html>
<html>
<head>
    <title>ShareUrDay</title>
    <style type="text/css">
/*<![CDATA[*/
    body{
    background-color:#66CCFF;
    }
    table.gtable, td.gtable {
    border: 2px solid red;
    width: 70%;
    margin-left:15%;
    margin-right:10%;  
        background-color:#FFFFC2;
    }

    table.titletable{
    margin-left:40%;
    }

    table.tabletwo{
    border: 2px solid blue;
        background-color:#FFFFC2;
    margin-left:15%;
    width: 70%;}

    h1 {
    font-size:300%;
    color:#00FF00;
    text-shadow:
       3px 3px 0 #000,
      -1px -1px 0 #000,  
       1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
    }

    h2 {
    text-align: center;
    }

    h3 {
     margin-left:2%;
    }

    p.p0{
        margin-left:3%;
    }

    p.p1{
        margin-left:3%;
    }

    p.p2{
        margin-left:3%;
    }

    p.p3{
        margin-left:3%;
    }

    p.p4{
        margin-left:3%;
    }

    object{
        margin-bottom:25%;
    }
	li{
       list-align: center;
    }
    /*]]>*/
    </style>
</head>

<body>
    <table class="titletable">
        <tr>
            <td><img height="70" src="../static/shareurday.jpg" style=
            "margin-bottom:20px" width="120"></td>

            <td>
                <h1>ShareUrDay</h1>
            </td>
        </tr>
    </table>

    <table class="gtable">
        <tr>
            <td class="gtable">
                <h3>What is ShareUrDay?</h3>

                <p class="p0">ShareUrDay is an Android application that lets
                the user create a diary of their own and share it with people
                from around the world, anonymously. The application lets the
                user create diary messages and share it with other users who
                can rate and reply the message. The user can also retrieve a
                diary message from other users by random, in the case of random
                user can enjoy reading new diary messages all the time. All
                diary messages written by the user is stored privately for
                themselves, so they can one day read them again. This
                application would be beneficial to users in many ways such as
                socialising, learning about new cultures (reading other's diary
                messages) and would form a better understanding of people from
                different areas. ShareUrDay is simple, effective and easy to
                use.</p>

                <h3>Why ShareUrDay?</h3>

                <p class="p1">In the 19th century, we did not have any
                particular way to conserve the past without the use of paper.
                The ongoing war has silenced many for over decades. People did
                not speak out, so they wrote them on a piece of paper. People
                were using diaries to preserve their past life. Since then
                diaries were becoming less common and eventually forgotten. Due
                to the increase of mobile applications,ShareUrDay was inspired
                to conserve a user's personal life journey from young to old
                and allows them to share their feelings while socialising at
                the same time and being anonymous to others who uses
                ShareUrDay.</p>

                <h3>Anonymity</h3>

                <p class="p2">ShareUrDay does not share any personal
                information, users has a choice to keep their private
                information on their user profile, but their user profile is
                not shared with anyone. The only information that will identify
                the user are:<br>
                Display Name<br>
                Country<br></p>

                <h3>Beneficial</h3>

                <p class="p3">Socialise<br>
                In your own words<br>
                Learn about different cultures</p>

                <h3>Age Content</h3>

                <p class="p4">14+</p>
            </td>
        </tr>
    </table>

    <h2>How do I use this app?</h2>

    <table class="tabletwo">
        <tr>
            <td>
                <table>
                    <tr>
                        <td><img height="50" src="../static/write_msg.jpg"
                        width="50"></td>

                        <td>Write a diary message</td>
                    </tr>

                    <tr>
                        <td><img height="50" src="../static/grab_msg.jpg"
                        width="50"></td>

                        <td>Grab a diary message</td>
                    </tr>

                    <tr>
                        <td><img height="50" src="../static/mydiary.jpg" width=
                        "50"></td>

                        <td>Diary message container</td>
                    </tr>

                    <tr>
                        <td><img height="50" src="../static/send_daily_msg.jpg"
                        width="50"></td>

                        <td>Send a message</td>
                    </tr>

                    <tr>
                        <td><img height="50" src="../static/reply_to_msg.jpg"
                        width="50"></td>

                        <td>Reply to a message</td>
                    </tr>

                    <tr>
                        <td><img height="50" src="../static/rate.jpg" width=
                        "50"></td>

                        <td>Rate a message</td>
                    </tr>

                    <tr>
                        <td><img height="50" src="../static/back_btn.jpg"
                        width="50"></td>

                        <td>Go back</td>
                    </tr>
                </table>
            </td>

            <td></td>

            <td>
                <table>
                    <tr>
                        <td><iframe frameborder="5" height="415" scrolling="no"
                        src="https://www.youtube.com/embed/cr13EON4V3k" width=
                        "820"></iframe></td>
                        <!-- add https ,embed and get rid of variable watch-->
                    </tr>
                </table>
            </td>
        </tr>
    </table>

    <h2>How do I Install?</h2>
	<table align="center">
		<tr>
			<td>
				<h3>Option 1: Mobile installation method (approx. 3mins)</h3>
					<ol type="1">
						<li>Enable Your mobile to allow Unknown source in setting -> security -> Unknown source (tick).</li>
						<li>Go to www.shareurday.heroku.com and download the ShareUrDay.apk file.</li>
						<li>Once download is complete, click on the file and install it.</li>
					</ol> 					
					
					<p> Download the app here: </p>
					<a href="https://drive.google.com/open?id=0B8ecKj1Xvtb9NEo3XzliaGNrdm8&authuser=0"> Click here to download!</a>
				

				<h3>Option 2: Web installation method (approx. 10-15mins)</h3>
					<ol type="1">
						<li> Connect your device by usb to laptop. </li>
						<li> Create a new folder inside your device using your laptop. </li>
						<li> Drag the APK file to the folder you created.</li>
						<li> Unplug the usb.</li>
						<li> Go to setting->security then tick the "Allow Unknown Source" option.</li>
						<li> Now find the folder you put your apk in by using a folder directory application on your device.</li>
						<li> Click on the .apk file and accept the conditions. Now the app is created in your device.</li>
					</ol> 
					
					<br>
					<p> Download the app here: </p>
					<a href="https://drive.google.com/open?id=0B8ecKj1Xvtb9NEo3XzliaGNrdm8&authuser=0" download="ShareUrDay.apk"> Click here to download!</a>
			</td>
		</tr>	
	</table>	
</body>
</html>